<template>
  <div class="home">
    <div v-if="isLoggedIn">
      <h1>You have been logged in.</h1>
    </div>
    <div v-else>
      <div class="optionBox">
        <div class="optionBox__image">
          <img src="@/assets/images/background_bubble.png" />

          <div class="optionBox__titleSection abovetext">
            <h1>
              Job Seeking Platform
            </h1>
            <div class="descriptions">
              <div style="display:inline-block; margin-right:20px;">
                Recruiters
              </div>
              <div style="display:inline-block; margin-right:20px;">
                Student
              </div>
              <div style="display:inline-block;">
                Professionals
              </div>
            </div>
          </div>

          <div class="optionBox__titleSection belowtext">
            <h2>
              JobCareer
            </h2>
          </div>
        </div>
        <div class="optionBox__type">
          <div class="optionBox__titleSection">
            <h1>
              Welcome to <span style="color: rgb(44, 105, 175)">JobCareer</span>
            </h1>
            <p>
              We make it easy to connect between employers and students or
              recent graduates to find jobs easier.
            </p>
          </div>

          <div class="optionBox__switcher">
            <div
              style="display:inline-block; margin-right:10px;"
              :class="[isLogin ? 'active' : 'inactive']"
              @click="switchLogin()"
            >
              Login
            </div>
            <div
              style="display:inline-block;"
              :class="[isRegister ? 'active' : 'inactive']"
              @click="switchRegister()"
            >
              Register
            </div>
          </div>

          <div v-if="isLogin">
            <Login />
          </div>

          <div v-if="isRegister">
            <Register />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Login from "@/components/Login";
import Register from "@/components/Register";

export default {
  name: "Home",
  components: {
    Login,
    Register
  },
  data: function() {
    return {
      isLogin: true,
      isRegister: false
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
    currentUser: function() {
      return this.$store.getters.getUser;
    }
  },
  methods: {
    switchLogin() {
      this.isLogin = true;
      this.isRegister = false;
    },
    switchRegister() {
      this.isLogin = false;
      this.isRegister = true;
    }
  }
};
</script>

<style lang="scss" scoped>
$blue: rgb(44, 105, 175);
$lightgray: rgb(221, 219, 219);

img {
  width: 470px;
}

.descriptions {
  margin-top: -1em;
  color: rgb(109, 153, 204);
  font-size: 1.2em;
  font-weight: 600;
}

.optionBox {
  border: 1px solid $lightgray;
  border-radius: 5px;
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  grid-template-areas: "image type";
  grid-template-columns: 470px 1fr;

  .abovetext {
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    padding: 0 20px;
    text-align: left;
  }

  .belowtext {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(42, 138, 218);
    padding: 0 20px;
    text-align: left;
    font-size: 1.1em;
    text-shadow: 2px 2px 1px rgba(156, 156, 156, 0.2);
  }

  &__titleSection {
    margin-top: -2.2em;
    h1 {
      font-size: 2.2em;
      line-height: 2.5em;
    }

    p {
      margin-top: -1.1em;
      font-size: 1.3em;
      line-height: 1.4em;
    }
  }

  &__image {
    grid-area: "image";
    position: relative;
  }

  &__type {
    text-align: left;
    padding: 2em;
    grid-area: "type";
    background: #f9f9f9;
    width: 700px;
  }

  &__switcher {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;

    .active {
      color: $blue;
      &:after {
        content: "";
        width: 100%;
        margin-top: 0.3em;
        height: 5px;
        display: block;
        background: $blue;
        transition: all 0.2s ease-in-out 0s;
      }
    }

    .inactive {
      color: rgba(133, 133, 133, 0.933);
      &:after {
        content: "";
        width: 0;
        margin-top: 0.3em;
        height: 5px;
        display: block;
        background: $blue;
        transition: all 0.2s ease-in-out 0s;
      }

      &:hover {
        color: $blue;
        &:after {
          width: 100%;
        }
      }
    }

    &:hover {
      color: $blue;
    }
  }
}

@media screen and (max-width: 1170px) {
  .optionBox {
    grid-template-areas: "type";
    grid-template-columns: 1fr;

    &__image {
      display: none !important;
    }

    &__type {
      width: 700px;
    }
  }
}

@media screen and (max-width: 700px) {
  .optionBox {
    grid-template-areas: "type";
    grid-template-columns: 1fr;

    &__image {
      display: none !important;
    }

    &__type {
      width: 500px;
    }
  }
}
</style>
