<template>
  <div class="Login">
    <form @submit.prevent="login">
      <label>Username</label>
      <input required v-model="username" type="text" placeholder="Name" />
      <label>Password</label>
      <input
        required
        v-model="password"
        type="password"
        placeholder="Password"
      />
      <hr />
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    login: function() {
      let user = {
        username: this.username,
        password: this.password
      };

      this.$store
        .dispatch("login", user)
        .then(() => this.$router.push("/"))
        .catch((err) => console.log(err));
    }
  }
};
</script>

<style lang="scss" scoped>
$blue: rgb(22, 138, 233);
$lightgray: rgb(221, 219, 219);

form {
  padding: 1em;
  margin-top: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

  input {
    margin-bottom: 1rem;
    background: #fff;
  }

  button {
    background: $lightgray;
    padding: 0.7em;
    border: 0;
    font-weight: bold;

    &:hover {
      background: $blue;
      color: white;
    }
  }
}

label {
  text-align: right;
  display: block;
  padding: 0.9em 1.5em 0.5em 0;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid $blue;
}

@media (min-width: 400px) {
  form {
    overflow: hidden;
  }

  label {
    float: left;
    width: 200px;
  }

  input {
    float: left;
    width: calc(100% - 200px);
  }

  button {
    float: right;
    width: calc(100% - 200px);
    border-radius: 10px;
  }
}
</style>
