<template>
  <div class="Register">
    <form @submit.prevent="register">
      <label for="name">Name:</label>
      <div>
        <input id="name" type="text" v-model="name" required autofocus />
      </div>

      <label for="name">Username:</label>

      <div>
        <input
          id="username"
          type="text"
          v-model="username"
          required
          autofocus
        />
      </div>

      <label for="email">E-Mail Address</label>
      <div>
        <input id="email" type="email" v-model="email" required />
      </div>

      <label for="password">Password</label>
      <div>
        <input id="password" type="password" v-model="password" required />
      </div>

      <label for="password-confirm">Confirm Password</label>
      <div>
        <input
          id="password-confirm"
          type="password"
          v-model="password_confirmation"
          required
        />
      </div>

      <div>
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      name: "",
      username: "",
      email: "",
      password: "",
      password_confirmation: ""
    };
  },
  methods: {
    register: function() {
      let data = {
        name: this.name,
        username: this.username,
        email: this.email,
        password: this.password
      };
      this.$store
        .dispatch("register", data)
        .then(() => this.$router.push("/"))
        .catch((err) => console.log(err));
    }
  }
};
</script>

<style lang="scss" scoped>
$blue: rgb(22, 138, 233);
$lightgray: rgb(221, 219, 219);

form {
  padding: 1em;
  // background: #f9f9f9;
  // border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

  input {
    margin-bottom: 1rem;
    background: #fff;
    // border: 1px solid #9c9c9c;
  }

  button {
    background: $lightgray;
    padding: 0.7em;
    border: 0;
    font-weight: bold;

    &:hover {
      background: $blue;
      color: white;
    }
  }
}

label {
  text-align: right;
  display: block;
  padding: 0.9em 1.5em 0.5em 0;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid $blue;
}

@media (min-width: 400px) {
  form {
    overflow: hidden;
  }

  label {
    float: left;
    width: 200px;
  }

  input {
    float: left;
    width: calc(100% - 200px);
  }

  button {
    float: right;
    width: calc(100% - 200px);
    border-radius: 10px;
  }
}
</style>
