<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>

      <span v-if="isLoggedIn">
        |
        <router-link v-if="isLoggedIn" @click.native="logout" to="/"
          >Logout</router-link
        >
      </span>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  data: function() {
    return {};
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/");
      });
    }
  },
  created: function() {
    this.$http.interceptors.response.use(undefined, function(err) {
      return new Promise(function() {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          this.$store.dispatch(this.logout());
        }
        throw err;
      });
    });
  }
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

#app {
  font-family: "Lucida Console", sans-serif;

  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.3em;

    &.router-link-exact-active {
      color: rgb(42, 138, 218);
    }
  }
}
</style>
